<section class="section-card elevated p-3 my-3">
    <div class="brand-grid compact">

        <a class="brand-card">
            <img src="~/images/brands/yonex.png" />
            <span>Yonex</span>
        </a>

        <a class="brand-card">
            <img src="~/images/brands/lining.png" />
            <span>Li-Ning</span>
        </a>

        <a class="brand-card">
            <img src="~/images/brands/victor.png" />
            <span>Victor</span>
        </a>

        <a class="brand-card">
            <img src="~/images/brands/mizuno.png" />
            <span>Mizuno</span>
        </a>

    </div>
</section>
