USE [BadmintonShop]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 15/01/2026 2:28:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 15/01/2026 2:28:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[SubTitle] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[TargetUrl] [nvarchar](max) NOT NULL,
	[OrderIndex] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Banners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 15/01/2026 2:28:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[ParentId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsShowOnHome] [bit] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventories]    Script Date: 15/01/2026 2:28:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ProductVariantId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
	[AverageCost] [decimal](18, 2) NOT NULL,
	[MinStock] [int] NULL,
 CONSTRAINT [PK_Inventories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryLogs]    Script Date: 15/01/2026 2:28:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuantityChange] [int] NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[InventoryId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[ActionType] [int] NOT NULL,
	[OrderId] [int] NULL,
	[UserId] [int] NULL,
	[ProductVariantId] [int] NOT NULL,
	[CostPerUnit] [decimal](18, 2) NOT NULL,
	[StockAfter] [int] NOT NULL,
 CONSTRAINT [PK_InventoryLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 15/01/2026 2:28:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Slug] [nvarchar](200) NOT NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[IsPublished] [bit] NOT NULL,
	[AuthorId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 15/01/2026 2:28:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductVariantId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[SKU] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderHistories]    Script Date: 15/01/2026 2:28:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[ModifiedByUserId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_OrderHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 15/01/2026 2:28:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Country] [nvarchar](max) NOT NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[PaymentMethod] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Ward] [nvarchar](max) NOT NULL,
	[ShippingAddress] [nvarchar](max) NOT NULL,
	[ShippingFee] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 15/01/2026 2:28:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[CategoriesId] [int] NOT NULL,
	[ProductsId] [int] NOT NULL,
 CONSTRAINT [PK_ProductCategories] PRIMARY KEY CLUSTERED 
(
	[CategoriesId] ASC,
	[ProductsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 15/01/2026 2:28:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[Brand] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[BasePrice] [decimal](18, 2) NOT NULL,
	[SalePrice] [decimal](18, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 15/01/2026 2:28:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [nvarchar](max) NOT NULL,
	[AttributeName] [nvarchar](max) NOT NULL,
	[AttributeValue] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ProductId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ProductVariants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionProducts]    Script Date: 15/01/2026 2:28:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionProducts](
	[PromotionId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_PromotionProducts] PRIMARY KEY CLUSTERED 
(
	[PromotionId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 15/01/2026 2:28:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[IsPercent] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 15/01/2026 2:28:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](500) NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsApproved] [bit] NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 15/01/2026 2:28:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsSystemRole] [bit] NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15/01/2026 2:28:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsGuest] [bit] NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[Phone] [nvarchar](max) NULL,
	[Province] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251215033603_InitDomain', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251220094937_AddOrdersTable', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251226143053_ProductImage', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Banners] ON 

INSERT [dbo].[Banners] ([Id], [Title], [SubTitle], [ImageUrl], [TargetUrl], [OrderIndex], [IsActive], [IsDeleted], [CreatedBy], [UpdatedBy], [CreatedAt], [UpdatedAt]) VALUES (1, N'ko có', N'', N'/uploads/banners/fead9473-52f2-4b10-ae1d-7873035cc387.png', N'#', 1, 0, 0, N'admin', NULL, CAST(N'2026-01-08T11:17:43.3311023' AS DateTime2), CAST(N'2026-01-11T05:59:42.7478290' AS DateTime2))
INSERT [dbo].[Banners] ([Id], [Title], [SubTitle], [ImageUrl], [TargetUrl], [OrderIndex], [IsActive], [IsDeleted], [CreatedBy], [UpdatedBy], [CreatedAt], [UpdatedAt]) VALUES (2, N'Victor Ryuga 2', N'Victor Ryuga 2', N'/uploads/banners/427041e1-baa6-4bfd-8dc9-1ab716a40d2a.jpg', N'https://localhost:7120/Product/Detail/18', 2, 1, 0, N'Nguyen Minh Tuan', NULL, CAST(N'2026-01-11T05:59:27.0001808' AS DateTime2), NULL)
INSERT [dbo].[Banners] ([Id], [Title], [SubTitle], [ImageUrl], [TargetUrl], [OrderIndex], [IsActive], [IsDeleted], [CreatedBy], [UpdatedBy], [CreatedAt], [UpdatedAt]) VALUES (3, N'ASTROX 100VA ZZ', N'ASTROX 100VA ZZ', N'/uploads/banners/e63aa900-7014-4d30-867f-bbeac86caa10.webp', N'https://localhost:7120/Product/Detail/5', 3, 1, 0, N'Nguyen Minh Tuan', NULL, CAST(N'2026-01-11T06:06:08.6706669' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Banners] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Slug], [ParentId], [CreatedAt], [UpdatedAt], [IsDeleted], [IsShowOnHome]) VALUES (1, N'Vợt Thiên Công', N'vot-thien-cong', NULL, CAST(N'2026-01-07T20:58:49.8015537' AS DateTime2), CAST(N'2026-01-11T04:49:45.5244391' AS DateTime2), 1, 0)
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [ParentId], [CreatedAt], [UpdatedAt], [IsDeleted], [IsShowOnHome]) VALUES (2, N'Vợt cho người mới', N'vot-cho-nguoi-moi', NULL, CAST(N'2026-01-10T15:51:45.0969453' AS DateTime2), CAST(N'2026-01-11T04:49:36.4420342' AS DateTime2), 1, 0)
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [ParentId], [CreatedAt], [UpdatedAt], [IsDeleted], [IsShowOnHome]) VALUES (3, N'Vợt Thiên Công (Smash)', N'vot-thien-cong-smash', NULL, CAST(N'2026-01-11T04:53:11.5763727' AS DateTime2), NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventories] ON 

INSERT [dbo].[Inventories] ([Id], [Quantity], [ProductVariantId], [CreatedAt], [UpdatedAt], [IsDeleted], [LastUpdated], [AverageCost], [MinStock]) VALUES (1, 5, 1, CAST(N'2026-01-07T21:02:22.6249163' AS DateTime2), NULL, 0, CAST(N'2026-01-09T10:59:34.0401529' AS DateTime2), CAST(0.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Inventories] ([Id], [Quantity], [ProductVariantId], [CreatedAt], [UpdatedAt], [IsDeleted], [LastUpdated], [AverageCost], [MinStock]) VALUES (4, 2, 4, CAST(N'2026-01-10T18:43:56.0504295' AS DateTime2), NULL, 0, CAST(N'2026-01-11T04:26:09.5616369' AS DateTime2), CAST(5990000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Inventories] ([Id], [Quantity], [ProductVariantId], [CreatedAt], [UpdatedAt], [IsDeleted], [LastUpdated], [AverageCost], [MinStock]) VALUES (5, 20, 5, CAST(N'2026-01-11T05:04:32.7477732' AS DateTime2), NULL, 0, CAST(N'2026-01-13T08:07:31.1802323' AS DateTime2), CAST(2800000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Inventories] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryLogs] ON 

INSERT [dbo].[InventoryLogs] ([Id], [QuantityChange], [Reason], [InventoryId], [CreatedAt], [UpdatedAt], [IsDeleted], [ActionType], [OrderId], [UserId], [ProductVariantId], [CostPerUnit], [StockAfter]) VALUES (1, 10, N'No', 1, CAST(N'2026-01-07T21:03:01.2702168' AS DateTime2), NULL, 0, 0, NULL, 3, 1, CAST(0.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[InventoryLogs] ([Id], [QuantityChange], [Reason], [InventoryId], [CreatedAt], [UpdatedAt], [IsDeleted], [ActionType], [OrderId], [UserId], [ProductVariantId], [CostPerUnit], [StockAfter]) VALUES (2, -1, N'Order Checkout', 1, CAST(N'2026-01-07T21:09:52.8512916' AS DateTime2), NULL, 0, 1, 1, 4, 1, CAST(0.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[InventoryLogs] ([Id], [QuantityChange], [Reason], [InventoryId], [CreatedAt], [UpdatedAt], [IsDeleted], [ActionType], [OrderId], [UserId], [ProductVariantId], [CostPerUnit], [StockAfter]) VALUES (3, -1, N'Order Checkout', 1, CAST(N'2026-01-07T21:14:46.2599106' AS DateTime2), NULL, 0, 1, 2, 4, 1, CAST(0.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[InventoryLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductVariantId], [Quantity], [UnitPrice], [CreatedAt], [UpdatedAt], [IsDeleted], [ProductName], [SKU]) VALUES (1, 1, 1, 1, CAST(4500000.00 AS Decimal(18, 2)), CAST(N'2026-01-07T21:09:52.7192766' AS DateTime2), NULL, 0, N'ASTROX 99 PRO', N'ASTROX 99 PRO')
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductVariantId], [Quantity], [UnitPrice], [CreatedAt], [UpdatedAt], [IsDeleted], [ProductName], [SKU]) VALUES (2, 2, 1, 1, CAST(4500000.00 AS Decimal(18, 2)), CAST(N'2026-01-07T21:14:45.8284065' AS DateTime2), NULL, 0, N'ASTROX 99 PRO', N'ASTROX 99 PRO')
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductVariantId], [Quantity], [UnitPrice], [CreatedAt], [UpdatedAt], [IsDeleted], [ProductName], [SKU]) VALUES (3, 3, 1, 1, CAST(4500000.00 AS Decimal(18, 2)), CAST(N'2026-01-08T04:22:38.1537583' AS DateTime2), NULL, 0, N'ASTROX 99 PRO', N'ASTROX 99 PRO')
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderHistories] ON 

INSERT [dbo].[OrderHistories] ([Id], [OrderId], [Status], [Note], [ModifiedByUserId], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1, 3, 4, N'Hủy bởi Admin: ko có', 3, CAST(N'2026-01-08T04:22:59.6314054' AS DateTime2), NULL, 0)
INSERT [dbo].[OrderHistories] ([Id], [OrderId], [Status], [Note], [ModifiedByUserId], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (2, 2, 4, N'Hủy bởi Admin: ko có', 3, CAST(N'2026-01-08T04:23:06.0103910' AS DateTime2), NULL, 0)
INSERT [dbo].[OrderHistories] ([Id], [OrderId], [Status], [Note], [ModifiedByUserId], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (3, 1, 4, N'Hủy bởi Admin: ko có', 3, CAST(N'2026-01-08T04:23:11.7792325' AS DateTime2), NULL, 0)
SET IDENTITY_INSERT [dbo].[OrderHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [UserId], [TotalAmount], [Status], [CreatedAt], [UpdatedAt], [IsDeleted], [Country], [CustomerName], [City], [Email], [IsPaid], [PaymentMethod], [Phone], [Ward], [ShippingAddress], [ShippingFee], [Note]) VALUES (1, 4, CAST(4500000.00 AS Decimal(18, 2)), 4, CAST(N'2026-01-07T21:09:52.5981604' AS DateTime2), CAST(N'2026-01-08T04:23:11.7792298' AS DateTime2), 0, N'Vietnam', N'Customer', N'Nha Trang', N'Customer@gmail.com', 0, N'PAYPAL', N'099999999', N'Ward 12', N'123 phường bắc, Ward 12, Nha Trang', CAST(0.00 AS Decimal(18, 2)), N'ko có')
INSERT [dbo].[Orders] ([Id], [UserId], [TotalAmount], [Status], [CreatedAt], [UpdatedAt], [IsDeleted], [Country], [CustomerName], [City], [Email], [IsPaid], [PaymentMethod], [Phone], [Ward], [ShippingAddress], [ShippingFee], [Note]) VALUES (2, 4, CAST(4500000.00 AS Decimal(18, 2)), 4, CAST(N'2026-01-07T21:14:45.7217523' AS DateTime2), CAST(N'2026-01-08T04:23:06.0103883' AS DateTime2), 0, N'Vietnam', N'Customer', N'Nha Trang', N'Customer@gmail.com', 0, N'PAYPAL', N'0365868791', N'Ward 12', N'123 phường bắc, Ward 12, Nha Trang', CAST(0.00 AS Decimal(18, 2)), N'ko có')
INSERT [dbo].[Orders] ([Id], [UserId], [TotalAmount], [Status], [CreatedAt], [UpdatedAt], [IsDeleted], [Country], [CustomerName], [City], [Email], [IsPaid], [PaymentMethod], [Phone], [Ward], [ShippingAddress], [ShippingFee], [Note]) VALUES (3, 4, CAST(4500000.00 AS Decimal(18, 2)), 4, CAST(N'2026-01-08T04:22:38.0839753' AS DateTime2), CAST(N'2026-01-08T04:22:59.6307203' AS DateTime2), 0, N'Vietnam', N'Customer', N'Nha Trang', N'Customer@gmail.com', 0, N'PAYPAL', N'0365868791', N'Ward 12', N'123 phường bắc, Ward 12, Nha Trang', CAST(0.00 AS Decimal(18, 2)), N'ko có')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[ProductCategories] ([CategoriesId], [ProductsId]) VALUES (1, 1)
INSERT [dbo].[ProductCategories] ([CategoriesId], [ProductsId]) VALUES (1, 2)
INSERT [dbo].[ProductCategories] ([CategoriesId], [ProductsId]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Slug], [Brand], [Description], [BasePrice], [SalePrice], [IsActive], [CreatedAt], [UpdatedAt], [IsDeleted], [ImageUrl]) VALUES (1, N'ASTROX 99 PRO', N'astrox-99-pro', N'Yonex', N'Khung: HM Graphite + CFR + Tungsten + 2G-Namd FLEX FORCE', CAST(5000000.00 AS Decimal(18, 2)), CAST(4500000.00 AS Decimal(18, 2)), 1, CAST(N'2026-01-07T21:00:08.4911528' AS DateTime2), CAST(N'2026-01-09T17:41:41.7211901' AS DateTime2), 1, N'/uploads/products/7ba51aa1-24fe-4da7-ad96-34ef017cff63.webp')
INSERT [dbo].[Products] ([Id], [Name], [Slug], [Brand], [Description], [BasePrice], [SalePrice], [IsActive], [CreatedAt], [UpdatedAt], [IsDeleted], [ImageUrl]) VALUES (2, N'Yonex Astrox 100 ZZ', N'yonex-astrox-100-zz', N'Yonex', N'', CAST(500000.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), 1, CAST(N'2026-01-09T19:28:50.4348749' AS DateTime2), NULL, 1, N'/images/products/fe315e36-32c6-4c5b-9421-81aad66b43cb.webp')
INSERT [dbo].[Products] ([Id], [Name], [Slug], [Brand], [Description], [BasePrice], [SalePrice], [IsActive], [CreatedAt], [UpdatedAt], [IsDeleted], [ImageUrl]) VALUES (3, N'Yonex Astrox 100 ZZ', N'yonex-astrox-100-zz', N'Yonex', N'ko có', CAST(5000000.00 AS Decimal(18, 2)), CAST(4500000.00 AS Decimal(18, 2)), 1, CAST(N'2026-01-09T21:36:34.2962847' AS DateTime2), NULL, 1, N'/images/products/03d1de9c-d079-4fe1-943a-6b773c5f88bd.webp')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 

INSERT [dbo].[ProductVariants] ([Id], [SKU], [AttributeName], [AttributeValue], [Price], [ProductId], [CreatedAt], [UpdatedAt], [IsDeleted], [IsActive]) VALUES (1, N'ASTROX 99 PRO', N'Trọng lượng: Mức căng dây', N'4U: 20 - 28 lbs', CAST(4500000.00 AS Decimal(18, 2)), 1, CAST(N'2026-01-07T21:02:22.6006590' AS DateTime2), CAST(N'2026-01-07T21:02:39.2980060' AS DateTime2), 0, 0)
INSERT [dbo].[ProductVariants] ([Id], [SKU], [AttributeName], [AttributeValue], [Price], [ProductId], [CreatedAt], [UpdatedAt], [IsDeleted], [IsActive]) VALUES (4, N'4U', N'Trọng lượng: Mức căng dây', N'4U: 20 - 28 lbs', CAST(7950000.00 AS Decimal(18, 2)), 5, CAST(N'2026-01-10T18:43:56.0421711' AS DateTime2), NULL, 0, 1)
INSERT [dbo].[ProductVariants] ([Id], [SKU], [AttributeName], [AttributeValue], [Price], [ProductId], [CreatedAt], [UpdatedAt], [IsDeleted], [IsActive]) VALUES (5, N'AX99P-4U', N'Thông số', N'4U - G5 (Tiêu chuẩn)', CAST(3850000.00 AS Decimal(18, 2)), 6, CAST(N'2026-01-11T05:04:32.7453557' AS DateTime2), NULL, 0, 1)
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
INSERT [dbo].[PromotionProducts] ([PromotionId], [ProductId]) VALUES (3, 5)
INSERT [dbo].[PromotionProducts] ([PromotionId], [ProductId]) VALUES (3, 6)
INSERT [dbo].[PromotionProducts] ([PromotionId], [ProductId]) VALUES (3, 9)
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([Id], [Name], [Description], [StartDate], [EndDate], [DiscountValue], [IsPercent], [IsActive], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (3, N'Sale Tết 2026', N'ko có', CAST(N'2026-01-13T14:58:00.0000000' AS DateTime2), CAST(N'2026-01-20T14:58:00.0000000' AS DateTime2), CAST(50.00 AS Decimal(18, 2)), 1, 1, CAST(N'2026-01-13T07:58:49.9401122' AS DateTime2), NULL, 0)
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [CreatedAt], [IsDeleted], [IsSystemRole], [UpdatedAt]) VALUES (1, N'Admin', CAST(N'2026-01-13T05:24:21.6445506' AS DateTime2), 0, 0, NULL)
INSERT [dbo].[Roles] ([Id], [Name], [CreatedAt], [IsDeleted], [IsSystemRole], [UpdatedAt]) VALUES (2, N'Customer', CAST(N'2026-01-13T05:24:21.6445510' AS DateTime2), 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [RoleId], [IsActive], [Username], [Address], [Country], [CreatedAt], [IsDeleted], [IsGuest], [LastLoginAt], [Phone], [Province], [UpdatedAt]) VALUES (3, N'admin', N'tuan@admin.shop', N'240BE518FABD2724DDB6F04EEB1DA5967448D7E831C08C8FA822809F74C720A9', 2, 1, N'tuan@admin.shop', N'Nha Trang', N'Vietnam', CAST(N'2026-01-07T20:52:23.0069882' AS DateTime2), 0, 0, CAST(N'2026-01-09T09:56:58.9330686' AS DateTime2), N'0365868791', N'Khánh Hòa', NULL)
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [RoleId], [IsActive], [Username], [Address], [Country], [CreatedAt], [IsDeleted], [IsGuest], [LastLoginAt], [Phone], [Province], [UpdatedAt]) VALUES (4, N'Customer', N'Customer@gmail.com', N'B6C45863875E34487CA3C155ED145EFE12A74581E27BEFEC5AA661B8EE8CA6DD', 2, 1, N'Customer@gmail.com', N'Hà Nội', N'Vietnam', CAST(N'2026-01-07T21:09:18.1803345' AS DateTime2), 0, 0, CAST(N'2026-01-14T19:00:53.1592660' AS DateTime2), N'099999999', N'Hà Nội', NULL)
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [RoleId], [IsActive], [Username], [Address], [Country], [CreatedAt], [IsDeleted], [IsGuest], [LastLoginAt], [Phone], [Province], [UpdatedAt]) VALUES (5, N'Customer2', N'Customer2@gmail.com', N'6598906AFF34AD61F2EEF25E3B2ACCD51642D6DB567BD9E9A07071E5A6B7734F', 2, 1, N'Customer2@gmail.com', N'Lào Cai', N'Vietnam', CAST(N'2026-01-09T02:39:33.5800458' AS DateTime2), 0, 0, CAST(N'2026-01-11T04:23:18.3338712' AS DateTime2), N'0999999999', N'Lào Cai', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsShowOnHome]
GO
ALTER TABLE [dbo].[Inventories] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Inventories] ADD  DEFAULT ((0.0)) FOR [AverageCost]
GO
ALTER TABLE [dbo].[InventoryLogs] ADD  DEFAULT ((0)) FOR [ActionType]
GO
ALTER TABLE [dbo].[InventoryLogs] ADD  DEFAULT ((0)) FOR [ProductVariantId]
GO
ALTER TABLE [dbo].[InventoryLogs] ADD  DEFAULT ((0.0)) FOR [CostPerUnit]
GO
ALTER TABLE [dbo].[InventoryLogs] ADD  DEFAULT ((0)) FOR [StockAfter]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT (N'') FOR [ProductName]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT (N'') FOR [SKU]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'') FOR [Country]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'') FOR [CustomerName]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'') FOR [City]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'') FOR [Email]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsPaid]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'') FOR [Phone]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'') FOR [Ward]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'') FOR [ShippingAddress]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0.0)) FOR [ShippingFee]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsApproved]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsSystemRole]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [Username]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsGuest]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Categories_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Categories_ParentId]
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD  CONSTRAINT [FK_Inventories_ProductVariants_ProductVariantId] FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventories] CHECK CONSTRAINT [FK_Inventories_ProductVariants_ProductVariantId]
GO
ALTER TABLE [dbo].[InventoryLogs]  WITH CHECK ADD  CONSTRAINT [FK_InventoryLogs_Inventories_InventoryId] FOREIGN KEY([InventoryId])
REFERENCES [dbo].[Inventories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryLogs] CHECK CONSTRAINT [FK_InventoryLogs_Inventories_InventoryId]
GO
ALTER TABLE [dbo].[InventoryLogs]  WITH CHECK ADD  CONSTRAINT [FK_InventoryLogs_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[InventoryLogs] CHECK CONSTRAINT [FK_InventoryLogs_Orders_OrderId]
GO
ALTER TABLE [dbo].[InventoryLogs]  WITH CHECK ADD  CONSTRAINT [FK_InventoryLogs_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[InventoryLogs] CHECK CONSTRAINT [FK_InventoryLogs_Users_UserId]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Users_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Users_AuthorId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_ProductVariants_ProductVariantId] FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_ProductVariants_ProductVariantId]
GO
ALTER TABLE [dbo].[OrderHistories]  WITH CHECK ADD  CONSTRAINT [FK_OrderHistories_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderHistories] CHECK CONSTRAINT [FK_OrderHistories_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderHistories]  WITH CHECK ADD  CONSTRAINT [FK_OrderHistories_Users_ModifiedByUserId] FOREIGN KEY([ModifiedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[OrderHistories] CHECK CONSTRAINT [FK_OrderHistories_Users_ModifiedByUserId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_UserId]
GO
ALTER TABLE [dbo].[ProductCategories]  WITH CHECK ADD  CONSTRAINT [FK_ProductCategories_Categories_CategoriesId] FOREIGN KEY([CategoriesId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategories] CHECK CONSTRAINT [FK_ProductCategories_Categories_CategoriesId]
GO
ALTER TABLE [dbo].[ProductCategories]  WITH CHECK ADD  CONSTRAINT [FK_ProductCategories_Products_ProductsId] FOREIGN KEY([ProductsId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategories] CHECK CONSTRAINT [FK_ProductCategories_Products_ProductsId]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariants_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_Products_ProductId]
GO
ALTER TABLE [dbo].[PromotionProducts]  WITH CHECK ADD  CONSTRAINT [FK_PromotionProducts_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromotionProducts] CHECK CONSTRAINT [FK_PromotionProducts_Products_ProductId]
GO
ALTER TABLE [dbo].[PromotionProducts]  WITH CHECK ADD  CONSTRAINT [FK_PromotionProducts_Promotions_PromotionId] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromotionProducts] CHECK CONSTRAINT [FK_PromotionProducts_Promotions_PromotionId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Products_ProductId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
